<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <img>
        <%= image_tag(movie.image_file_name) %>
      </img>
      <h2>
        <%= link_to movie.title, movie %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>

<% end %>
<button>
    <%= link_to "New Movie", new_movie_path, class: "button" %>
</button>
