<section class="movie-details">
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2>
      <%= year_of(@movie) %> &bull; <%= @movie.rating %>
    </h2>
    <p>
      <%= @movie.description %>
    </p>
    <p>
      <%= @movie.director %>
    </p>
    <p>
      <%= @movie.duration %>
    </p>
    <p>
      <%= @movie.image_file_name %>
    </p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>

    </div>
</section>
<section class="admin">
  <%= button_to "Edit", edit_movie_path(@movie), class: "button", method: :get %>
  <%= button_to "Delete", movie_path(@movie), class: "button", method: :delete, data: { turbo: :false }%>
  <%= button_to pluralize(@movie.reviews.count, "Review"), movie_reviews_path(@movie), class: "button", method: :get %>
</section>

